.popup__name {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	width: 358px;
	padding: 0;
	display: block;
	margin: 0 auto 13px auto;
	border: none;
}

@media screen and (max-width: 767px) {
	.popup__name {
		max-width: 238px;
		font-size: 14px;
		line-height: 17px;
		margin: 0 auto 9px auto;
	}
}
